<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
      {% for column in formdata.columns %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
    </thead>

    <tbody>
      {% for column in formdata.columns : %}
        <tr>
        {% for row in formdata.itertuples(): %}
          <td>{{row.column}}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}
