<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Ebola data visualization</h1>
    <p>This app can be used for analysis of data concernig the Ebola disease.</p>
  </div>

  <div class="page-header">
    <h1>Chose the next step</h1>
  </div>
  <p>
    <a href="/dataform" class="btn btn-success" role="button">Fill the form</a>
    <a href="/result" class="btn btn-primary" role="button">View an example</a>
  </p>


{% endblock %}
